
/ Main hero unit for a primary marketing message or call to action
.hero-unit
  %h1 Hello candidate!
  %p
    This is your final test. All instructions will be available during an interview.
    Right now just make sure everything works and stay tuned
  %p
    = mail_to 'hi@exlabs.co.uk', 'Contact Us', class: 'btn btn-large btn-primary'
