!!!
%html
  %head
    %title ExlabsTest
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.text-center
      %h1 Exlabs Test
    .container
      .row
        .col-xs-8.col-xs-offset-2
          = yield

  %hr/
  %footer.text-center
    %p &copy; Company 2012

  = javascript_include_tag 'application'